{% load static %}
<div class="blog-box">
  <div class="blog-box-h">
    {% if ppost.author.profile.photo %}
      <img src="{{post.author.profile.photo}}" alt="Blog Photo" />
    {% else %}
      <img src="{% static 'avatar.jpg' %}" alt="Blog Photo" />
    {% endif %} 
    <span>{{ post.author.first_name}} {{ post.author.last_name }}</span>
  </div>
  <a href="{{ post.get_absolute_url }}">
  <div class="blog-box-b">
    <div>
      <h2>{{ post.title }}</h2>
      <p>{{ post.body|slice:":128" }}...</p>
    </div>
    {% if post.photo %}
      <img src="{{post.photo}}" alt="Blog Photo" />
    {% else %}
      <img src="{% static 'placeholder.png' %}" alt="Blog Photo" />
    {% endif %} 
  </div>
</a>
</div>
