{% load static %}
<div class="blog-box">
  <div class="blog-box-h">
    <img src="{{author.profile.photo}}" alt="Profile Photo" />
    <span>{{ author.first_name}} {{ author.last_name }}</span>
  </div>
  <div class="blog-box-b">
    <div>
      <h2>{{ title }}</h2>
      <p>{{ body|slice:":128" }}...</p>
    </div>
    {% if photo %}
      <img src="{{photo}}" alt="Blog Photo" />
    {% else %}
      <img src="{% static 'placeholder.png' %}" alt="Blog Photo" />
    {% endif %} 
  </div>
</div>
